.strike{
    text-decoration: line-through;
    color: aliceblue;
}

.myinput:focus{
    outline: none; 
}
/* .myinput:hover{
    cursor: pointer;
} */

.myborder{
    border: 1px solid black;
}

input:read-only {pointer-events:none}

