<div class="card card-body mt-4 shadow">
    <div class="row">
        <div class="col-2 col-sm-1">
            <button (click)="toggleAll()" class="btn btn-sm badge badge-info"><i class="fa fa-angle-down"></i></button>
        </div>
        <div class="col-10 col-sm-11">
            <input autofocus class="form-control" (keydown)="inputTodo($event)" type="text" placeholder="What needs to be Done?"/>
        </div>
    </div>
    <div class="mt-1">
        <app-todo-item *ngFor="let todoItem of todoItems" [value] = "todoItem"></app-todo-item>
    </div>
    <div class="mt-2">
        
        <button  #completed (click)="handleComplete($event)" 
        [class.btn-light]="filter!=='COMPLETED'" [class.btn-info]="filter==='COMPLETED'"
         class="btn btn-sm float-right mx-1">Completed</button>
        
         <button  #active (click)="handleActive($event)" 
         [class.btn-light]="filter!=='ACTIVE'" [class.btn-info]="filter==='ACTIVE'"
         class="btn btn-sm btn-light float-right mx-1">Active</button>
         <button #all (click)="handleAll($event)" 
         [class.btn-light]="filter!=='ALL'" [class.btn-info]="filter==='ALL'"
         class="btn btn-sm btn-light float-right mx-1">All</button>
        
    </div>
</div>